/* タブレット・スマホ用 */



/* widthが1190px以下の表示 */
@media (max-width: 1190px){

  /* ヘッダー */
  .headerInner{
    display: flex;
    width: 100%;
  }

  .headerTitle p{
    padding: 36px 0px 0px 6px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 12px;
    line-height: 19px;
    color: #333333;
    letter-spacing: 0.001em;
  }
      
  .headerContact{
    margin-left: auto;
    margin-right: 10px;
    padding: 23px 0px 0px 0px;
  }
      
  .headerContact a{
    background-color: #DA6B64;
    border-radius: 30px;
    padding: 15px 40px 15px 39px;
    font-style: normal;
    font-weight: 300;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.01em;
  }

  .headerContact a:hover{
    background-color: #d84940;
  }


  /* メインコンテンツ */
  .firstSection-firstParagraph p{
    padding: 105px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 24px;
    line-height: 38px;
    color: #333333;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .firstSection-secondParagraph p{
    padding: 10px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 24px;
    line-height: 38px;
    color: #333333;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .firstSection-thirdParagraph p{
    padding: 40px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    letter-spacing: 0.09em;
  }
  
  .firstSection-fourthParagraph p{
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    letter-spacing: 0.09em;
  }


  .secondSection{
    width: 100%;
    height: 462px;
  }
    
  .secondSection-firstParagraph p{
    padding: 29px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.09em;
  }
  
  .secondSection-secondParagraph p{
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.09em;
  }
  
  .secondSection-thirdParagraph p{
    background-color: #F9F2F4;
    border-radius: 5px;
    width: 380px;
    height: 14px;
    margin: auto;
    margin-top: 11px;
    padding: 0px 0px 7px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 23px;
    color: #c7254e;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.13em;
  }
  
  .secondSection-fourthParagraph{
    padding: 12px 0px 0px 0px;
    text-align: center;
  }
  
  .secondSection-fourthParagraph a{
    display: block;
    margin: 0px 80px;
    width: calc(100% - 160px);
    height: 79px;
    margin: auto;
    background-color: #DA6B64;
    border-radius: 56px;
    text-decoration: none;
  }
  
  .secondSection-fourthParagraph a:hover{
    background-color: #d84940;
  }
  
  .secondSection-fourthParagraph p{
    padding: 25px 2px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    letter-spacing: 0.09em;
  }
  
  .secondSection-fifthParagraph p{
    padding: 28px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.001em;
  }
    
  .secondSection-sixthParagraph p{
    padding: 28px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.001em;
  }
    
  .secondSection-seventhParagraph p{
    padding: 27px 0px 0px 0px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.001em;
  }
  
  .secondSection-link{
    display: flex;
    width: 250px;
    height: 50px;
    margin: auto;
    padding: 20px 0px 0px 10px;
  }
  

}


/* widthが768px以下の表示 */
@media (max-width: 768px){

  /* ページの余白を調整する */
  .content{
    width: 100%;
    padding: 60px 0px 0px 0px;
  }
  
  /* ヘッダー */
  .header{
    height: 63px;
  }

  .headerLogo img{
    display: none;
  }
  
  .headerTitle p{
    display: none;
  }

  .headerLogo-headerTitle-responsive p{
    display: block;
    padding: 7px 0px 0px 10px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 12px;
    line-height: 19px;
    color: #333333;
    letter-spacing: 0.004em;
  }

  .headerLogo-headerTitle-responsive img{
    display: block;
    width: 90px;
    height: 28px;
    padding: 0px 0px 0px 10px;
  }
      
  .headerContact{
    display: none;
  }

  .headerContact a{
    display: none;
  }

  .headerContact-responsive{
    display: block; 
    background-color: #DA6B64;
    width: 75px;
    height: 63px;
    margin-left: auto;
    text-align: center;
  }

  .headerContact-responsive img{
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 25px;
    padding: 8px 2px 0px 0px;
  }

  .headerContact-responsive a{
    display: block;
    padding: 1px 2px 0px 0px;
    font-style: normal;
    font-weight: 400;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 12px;
    line-height: 19px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.08em;
  }

  .headerContact-responsive a:hover{
    text-decoration: underline;
  }


    /* メインコンテンツ */
    .firstSection{
      background-image: url("../image/mainsp.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 500px;
    }
  
    .firstSection-secondParagraph p{
      padding: 0px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 24px;
      line-height: 38px;
      color: #333333;
      text-align: center;
      letter-spacing: 0.06em;
    }
  
    .firstSection-img img{
      display: block;
      width: 319px;
      height: 110px;
      margin: auto;
      padding: 20px 0px 0px 2px;
    }


    .secondSection{
      width: 100%;
      height: 510px;
    }
      
    .secondSection-firstParagraph p{
      padding: 14px 0px 0px 2px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.08em;
    }
    
    .secondSection-secondParagraph p{
      padding: 0px 0px 0px 1px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 16px;
      line-height: 26px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.09em;
    }
    
    .secondSection-thirdParagraph p{
      background-color: #F9F2F4;
      border-radius: 5px;
      width: 380px;
      height: 14px;
      margin: auto;
      margin-top: 11px;
      padding: 0px 0px 7px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      font-size: 14px;
      line-height: 23px;
      color: #c7254e;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.13em;
    }
    
    .secondSection-fourthParagraph{
      display: none;
    }
    
    .secondSection-fourthParagraph a{
      display: none;
    }
    
    .secondSection-fourthParagraph p{
      display: none;
    }
  
    .secondSection-fourthParagraph-responsive{
      display: block;
      padding: 11px 0px 0px 0px;
      text-align: center;
    }
  
    .secondSection-fourthParagraph-responsive a{
      display: block;
      margin: 0px 80px;
      width: calc(100% - 160px);
      height: 110px;
      margin: auto;
      background-color: #DA6B64;
      border-radius: 56px;
      text-decoration: none;
    }
  
    .secondSection-fourthParagraph-responsive a:hover{
      background-color: #d84940;
    }
  
    .secondSection-fourthParagraph-responsive p{
      display: block;
      padding: 27px 0px 0px 3px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 18px;
      line-height: 29px;
      color: #FFFFFF;
      letter-spacing: 0.01em;
    }
    
    .secondSection-fifthParagraph p{
      display: none;
    }
    
    .secondSection-sixthParagraph p{
      display: none;
    }
      
    .secondSection-seventhParagraph p{
      display: none;
    }
  
    .secondSection-fifthParagraph-responsive p{
      display: block;
      padding: 25px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.001em;
    }
      
    .secondSection-sixthParagraph-responsive p{
      display: block;
      padding: 26px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.001em;
    }
        
    .secondSection-seventhParagraph-responsive p{
      display: block;
      padding: 26px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.001em;
    }
    
    .secondSection-link{
      display: flex;
      width: 250px;
      height: 50px;
      margin: auto;
      padding: 18px 0px 0px 8px;
    }
  


}
  

/* widthが767px以下の表示 */
@media (max-width: 767px){

  /* ヘッダー */
  .headerLogo-headerTitle-responsive p{
    display: block;
    padding: 7px 0px 3px 10px;
    font-style: normal;
    font-weight: 600;
    font-family: "Hiragino Kaku Gothic Pro";
    font-size: 10px;
    line-height: 16px;
    color: #333333;
    letter-spacing: 0.004em;
  }


     /* メインコンテンツ */
     .firstSection{
      background-image: url("../image/mainsp.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 312px;
    }
  
    .firstSection-firstParagraph p{
      padding: 20px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 18px;
      line-height: 29px;
      color: #333333;
      text-align: center;
      letter-spacing: 0.07em;
    }
    
    .firstSection-secondParagraph p{
      padding: 0px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 18px;
      line-height: 29px;
      color: #333333;
      text-align: center;
      letter-spacing: 0.07em;
    }
  
    .firstSection-img img{
      display: block;
      width: 319px;
      height: 110px;
      margin: auto;
      padding: 20px 0px 0px 0px;
    }
    
    .firstSection-thirdParagraph p{
      padding: 39px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 17px;
      color: #333333;
      text-align: center;
      letter-spacing: 0.09em;
    }
      
    .firstSection-fourthParagraph p{
      padding: 0px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 17px;
      color: #333333;
      text-align: center;
      letter-spacing: 0.09em;
    }


    .secondSection-firstParagraph p{
      padding: 14px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.06em;
    }
    
    .secondSection-secondParagraph p{
      padding: 0px 0px 0px 1px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.09em;
    }
    
    .secondSection-thirdParagraph p{
      background-color: #F9F2F4;
      border-radius: 5px;
      width: 360px;
      height: 14px;
      margin: auto;
      margin-top: 11px;
      padding: 0px 0px 7px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
      font-size: 14px;
      line-height: 22px;
      color: #c7254e;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.08em;
    }
  
    .secondSection-fourthParagraph-responsive{
      display: block;
      padding: 27px 0px 0px 0px;
      text-align: center;
    }
  
    .secondSection-fourthParagraph-responsive a{
      display: block;
      margin: 0px 20px;
      width: calc(100% - 40px);
      height: 95px;
      margin: auto;
      background-color: #DA6B64;
      border-radius: 56px;
      text-decoration: none;
    }
  
    .secondSection-fourthParagraph-responsive a:hover{
      background-color: #d84940;
    }
  
    .secondSection-fourthParagraph-responsive p{
      display: block;
      padding: 17px 0px 0px 3px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 20px;
      line-height: 32px;
      color: #FFFFFF;
      letter-spacing: 0.01em;
    }
    
    .secondSection-fifthParagraph-responsive p{
      padding: 25px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.001em;
    }
      
    .secondSection-sixthParagraph-responsive p{
      padding: 26px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.001em;
    }
      
    .secondSection-seventhParagraph-responsive p{
      padding: 26px 0px 0px 0px;
      font-style: normal;
      font-weight: 600;
      font-family: "Hiragino Kaku Gothic Pro";
      font-size: 15px;
      line-height: 24px;
      color: #FFFFFF;
      text-align: center;
      letter-spacing: 0.001em;
    }
    
    .secondSection-link{
      display: flex;
      width: 250px;
      height: 50px;
      margin: auto;
      padding: 20px 0px 0px 8px;
    }

}