/* pc用 */

/* ページの余白を調整する */
* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
}

.content {
  width: 100%;
  padding: 75px 0 0 0;
}

/* 共通クラス */
.twitter-share-button {
  margin-left: auto;
  padding: 0 6px 0 0;
}

.fb-like {
  margin-right: auto;
}

.thirdSection-firstBr {
  display: none;
}

.thirdSection-secondBr {
  display: none;
}

/* ヘッダー */
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 75px;
  background-color: #fff;
}

.headerInner {
  display: flex;
  width: 1190px;
  margin: auto;
}

.headerLogo img {
  width: 128px;
  height: 45px;
  padding: 14px 0 0 11px;
}

.headerTitle p {
  padding: 34px 0 0 6px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #333;
  letter-spacing: 0.11em;
}

.headerLogo-headerTitle-responsive p {
  display: none;
}

.headerLogo-headerTitle-responsive img {
  display: none;
}

.headerContact {
  padding: 26px 0 0 0;
  margin-right: 10px;
  margin-left: auto;
}

.headerContact a {
  padding: 15px 38px 15px 39px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.11em;
  background-color: #da6b64;
  border-radius: 30px;
}

.headerContact a:hover {
  background-color: #d84940;
}

.headerContact-responsive {
  display: none;
}

.headerContact-responsive img {
  display: none;
}

.headerContact-responsive a {
  display: none;
}

/* メインコンテンツ */
.firstSection {
  width: 100%;
  height: 500px;
  background-image: url("../image/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.firstSection-firstParagraph p {
  padding: 93px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  color: #333;
  text-align: center;
  letter-spacing: 0.05em;
}

.firstSection-secondParagraph p {
  padding: 10px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  color: #333;
  text-align: center;
  letter-spacing: 0.05em;
}

.firstSection-img img {
  display: block;
  width: 319px;
  height: 110px;
  padding: 10px 0 0 1px;
  margin: auto;
}

.firstSection-thirdParagraph p {
  padding: 41px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.firstSection-fourthParagraph p {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.secondSection {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #ebb94d;
}

.secondSection-scroll {
  position: absolute;
  top: 42px;
  right: 120px;
}

.secondSection-scroll a {
  position: fixed;
  z-index: 10;
  display: none;
  padding: 23px 25px;
  background-color: #ececec;
}

.secondSection-scroll a::before {
  display: block;
  width: 14px;
  height: 14px;
  margin: 5px 0 0 0;
  content: "";
  border-top: solid 6px #333;
  border-right: solid 6px #333;
  transform: rotate(-45deg);
}

.secondSection-firstParagraph p {
  padding: 30px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.08em;
}

.secondSection-secondParagraph p {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.08em;
}

.secondSection-thirdParagraph p {
  width: 462px;
  height: 21px;
  padding: 0 0 5px 0;
  margin: 14px auto auto auto;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  color: #c7254e;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.08em;
  background-color: #f9f2f4;
  border-radius: 5px;
}

.secondSection-fourthParagraph {
  padding: 45px 0 0 0;
  text-align: center;
}

.secondSection-fourthParagraph a {
  display: block;
  width: 1030px;
  height: 104px;
  margin: auto;
  text-decoration: none;
  background-color: #da6b64;
  border-radius: 56px;
}

.secondSection-fourthParagraph a:hover {
  background-color: #d84940;
}

.secondSection-fourthParagraph p {
  padding: 30px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
  color: #fff;
  letter-spacing: 0.06em;
}

.secondSection-fourthParagraph-responsive {
  display: none;
}

.secondSection-fourthParagraph-responsive a {
  display: none;
}

.secondSection-fourthParagraph-responsive p {
  display: none;
}

.secondSection-fifthParagraph p {
  padding: 68px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.07em;
}

.secondSection-fifthParagraph-responsive p {
  display: none;
}

.secondSection-sixthParagraph p {
  padding: 32px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.07em;
}

.secondSection-sixthParagraph-responsive p {
  display: none;
}

.secondSection-seventhParagraph p {
  padding: 30px 0 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.07em;
}

.secondSection-seventhParagraph-responsive p {
  display: none;
}

.secondSection-link {
  display: flex;
  width: 250px;
  height: 50px;
  padding: 18px 0 0 5px;
  margin: auto;
}

.thirdSection {
  width: 100%;
  height: 507px;
  padding: 40px 0;
  background-image: url("../image/introbottom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.thirdSection-firstParagraph ::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  content: "";
  border-top: solid 4px #ebb94d;
  border-left: solid 4px #ebb94d;
}

.thirdSection-firstParagraph {
  position: relative;
  width: 860px;
  padding: 15px 0;
  margin: 0 auto;
}

.thirdSection-firstParagraph p {
  padding: 21px 2px 9px 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  color: #333;
  text-align: center;
  letter-spacing: 0.05em;
}

.thirdSection-firstParagraph ::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 46px;
  height: 46px;
  content: "";
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
}

.thirdSection-firstParagraph-responsive ::before {
  display: none;
}

.thirdSection-firstParagraph-responsive p {
  display: none;
}

.thirdSection-firstParagraph-responsive ::after {
  display: none;
}

.thirdSection-secondParagraph p {
  padding: 40px 0 0 1px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.07em;
}

.thirdSection-thirdParagraph p {
  padding: 0 0 0 2px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-secondParagraph-thirdParagraph-responsive p {
  display: none;
}

.thirdSection-fourthParagraph p {
  padding: 24px 3px 0 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-fifthParagraph p {
  padding: 0 0 0 3px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-fourthParagraph-fifthParagraph-responsive p {
  display: none;
}

.thirdSection-sixthParagraph p {
  padding: 0 0 0 4px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-sixthParagraph-responsive p {
  display: none;
}

.thirdSection-seventhParagraph p {
  padding: 24px 0 0 2px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-eighthParagraph p {
  padding: 0 0 0 2px;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-eighthParagraph span {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  background: linear-gradient(transparent 70%, #ebb94d 0);
}

.thirdSection-seventhParagraph-eighthParagraph-responsive p {
  display: none;
}

.thirdSection-seventhParagraph-eighthParagraph-responsive span {
  display: none;
}

.thirdSection-ninthParagraph {
  position: relative;
  z-index: 9;
  width: 80px;
  height: 80px;
  margin: 95px auto auto auto;
  background-color: #ebb94d;
  border-radius: 50%;
}

.thirdSection-ninthParagraph p {
  padding: 1px 0 0 0;
  font-size: 14px;
  line-height: 80px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

.fourthSection {
  background-color: #fef5e0;
  width: 100%;
  height: 566px;
  padding: 80px 0 0 0;
}

.fourthSection-firstParagraph ::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border-left: solid 4px #ebb94d;
  border-top: solid 4px #ebb94d;
  width: 45px;
  height: 45px;
}

.fourthSection-firstParagraph {
  width: 860px;
  margin: 0 auto;
  padding: 35px 0 25px 0;
  position: relative;
}

.fourthSection-firstParagraph p {
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 28px;
  line-height: 40px;
  color: #333;
  text-align: center;
  letter-spacing: 0.06em;
}

.fourthSection-firstParagraph ::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
  width: 45px;
  height: 45px;
}

.fourthSection-secondParagraph p {
  padding: 40px 3px 30px 0;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.07em;
}

.fourthSection-secondParagraph-responsive p {
  display: none;
}

.fourthSection-inner {
  position: relative;
  background-color: #fff;
  width: 1166px;
  height: 251px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #ebb94d;
}

.fourthSection-thirdParagraph p {
  padding: 32px 7px 10px 0;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #333;
  text-align: center;
  letter-spacing: 0.08em;
}

.fourthSection-thirdParagraph-responsive p {
  display: none;
}

.fourthSection-firstBox {
  display: inline-block;
  padding: 10px 11px 10px 10px;
}

.fourthSection-firstBox p {
  padding: 2px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-secondBox {
  display: inline-block;
  padding: 10px;
}

.fourthSection-secondBox p {
  padding: 2px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-thirdBox {
  display: inline-block;
  padding: 10px;
}

.fourthSection-thirdBox p {
  padding: 2px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-fourthBox {
  display: inline-block;
  padding: 10px;
}

.fourthSection-fourthBox p {
  padding: 2px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-fifthBox {
  display: inline-block;
  padding: 10px 11px 10px 10px;
}

.fourthSection-fifthBox p {
  padding: 2px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
    sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #333;
  text-align: center;
  letter-spacing: 0.13em;
}
