/* pc用 */


/* ページの余白を調整する */
*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
}

.content{
  width: 100%;
  padding: 75px 0px 0px 0px;
}

/* 共通クラス */
.twitter-share-button{
  margin-left: auto;
  padding: 0px 6px 0px 0px;
}

.fb-like{
  margin-right: auto;
}

/* ヘッダー */
.header{
  position: fixed;
  z-index: 10;
  background-color:#FFFFFF;
  width: 100%;
  height: 75px;
}

.headerInner{
  display: flex;
  width: 1190px;
  margin: auto;
}

.headerLogo img{
  width: 128px;
  height: 45px;
  padding: 14px 0px 0px 11px;
}

.headerTitle p{
  padding: 34px 0px 0px 6px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  letter-spacing: 0.11em;
}

.headerLogo-headerTitle-responsive p{
  display: none;
}

.headerLogo-headerTitle-responsive img{
  display: none;
}

.headerContact{
  margin-left: auto;
  margin-right: 10px;
  padding: 26px 0px 0px 0px;
}

.headerContact a{
  background-color: #DA6B64;
  border-radius: 30px;
  padding: 15px 38px 15px 39px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.11em;
}

.headerContact a:hover{
  background-color: #d84940;
}

.headerContact-responsive{
  display: none;
}

.headerContact-responsive img{
  display: none;
}

.headerContact-responsive a{
  display: none;
}


/* メインコンテンツ */
.firstSection{
  background-image: url("../image/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.firstSection-firstParagraph p{
  padding: 93px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 28px;
  line-height: 45px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.05em;
}

.firstSection-secondParagraph p{
  padding: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 28px;
  line-height: 45px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.05em;
}

.firstSection-img img{
  display: block;
  width: 319px;
  height: 110px;
  margin: auto;
  padding: 10px 0px 0px 1px;
}

.firstSection-thirdParagraph p{
  padding: 41px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.firstSection-fourthParagraph p{
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}


.secondSection{
  position: relative;
  background-color: #EBB94D;
  width: 100%;
  height: 600px;
}

.secondSection-firstParagraph p{
  padding: 30px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.08em;
}

.secondSection-scroll{
  position: absolute;
  right: 120px;
  top: 42px;
}

.secondSection-scroll a{
  padding: 23px 25px 23px 25px;
  position: fixed;
  z-index: 10;
  display: none;
  background-color: #ECECEC;
}

.secondSection-scroll a::before{
  content: '';
  display: block;
  border-top: solid 6px black;
  border-right: solid 6px black;
  height: 14px;
  width: 14px;
  transform: rotate(-45deg);
  margin: 5px 0px 0px 0px;
}

.secondSection-secondParagraph p{
  padding: 0px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.08em;
}

.secondSection-thirdParagraph p{
  background-color: #F9F2F4;
  border-radius: 5px;
  width: 462px;
  height: 21px;
  margin: auto;
  margin-top: 14px;
  padding: 0px 0px 5px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 18px;
  line-height: 29px;
  color: #c7254e;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.08em;
}

.secondSection-fourthParagraph{
  padding: 45px 0px 0px 0px;
  text-align: center;
}

.secondSection-fourthParagraph a{
  display: block;
  width: 1030px;
  height: 104px;
  margin: auto;
  background-color: #DA6B64;
  border-radius: 56px;
  text-decoration: none;
}

.secondSection-fourthParagraph a:hover{
  background-color: #d84940;
}

.secondSection-fourthParagraph p{
  padding: 30px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 28px;
  line-height: 45px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
}

.secondSection-fourthParagraph-responsive{
  display: none;
}

.secondSection-fourthParagraph-responsive a{
  display: none;
}

.secondSection-fourthParagraph-responsive p{
  display: none;
}

.secondSection-fifthParagraph p{
  padding: 68px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 21px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.07em;
}

.secondSection-sixthParagraph p{
  padding: 32px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 21px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.07em;
}

.secondSection-seventhParagraph p{
  padding: 30px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 21px;
  line-height: 34px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.07em;
}

.secondSection-fifthParagraph-responsive p{
  display: none;
}

.secondSection-sixthParagraph-responsive p{
  display: none;
}

.secondSection-seventhParagraph-responsive p{
  display: none;
}

.secondSection-link{
  display: flex;
  width: 250px;
  height: 50px;
  margin: auto;
  padding: 18px 0px 0px 5px;
}


.thirdSection-firstBr{
  display: none;
}

.thirdSection-secondBr{
  display: none;
}

.thirdSection{
  background-image: url("../image/introbottom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 507px;
  padding: 40px 0px 40px 0px;
}

.thirdSection-firstParagraph{
  width: 860px;
  margin: 0px auto;
  padding: 15px 0px 15px 0px;
  position: relative;
}

.thirdSection-firstParagraph p{
  padding: 21px 2px 9px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 28px;
  line-height: 40px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.05em;
}

.thirdSection-firstParagraph-responsive p{
  display: none;
}

.thirdSection-firstParagraph ::before{
  position: absolute;
  content:'';
  left: 0px;
  top: 0px;
  border-left: solid 4px #EBB94D;
  border-top: solid 4px #EBB94D;
  width: 46px;
  height: 46px;
}

.thirdSection-firstParagraph ::after{
  position: absolute;
  content:'';
  right: 0px;
  bottom: 0px;
  border-right: solid 4px #EBB94D;
  border-bottom: solid 4px #EBB94D;
  width: 46px;
  height: 46px;
}

.thirdSection-firstParagraph-responsive ::before{
  display: none;
}

.thirdSection-firstParagraph-responsive ::after{
  display: none;
}

.thirdSection-secondParagraph p{
  padding: 40px 0px 0px 1px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.07em;
}

.thirdSection-thirdParagraph p{
  padding: 0px 0px 0px 2px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-secondParagraph-thirdParagraph-responsive p{
  display: none;
}

.thirdSection-fourthParagraph p{
  padding: 24px 3px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-fifthParagraph p{
  padding: 0px 0px 0px 3px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-fourthParagraph-fifthParagraph-responsive p{
  display: none;
}

.thirdSection-sixthParagraph p{
  padding: 0px 0px 0px 4px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-sixthParagraph-responsive p{
  display: none;
}

.thirdSection-seventhParagraph p{
  padding: 24px 0px 0px 2px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-eighthParagraph p{
  padding: 0px 0px 0px 2px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.thirdSection-seventhParagraph-eighthParagraph-responsive p{
  display: none;
}

.thirdSection-eighthParagraph span{
  padding: 0px 0px 0px 0px;
  background: linear-gradient(transparent 70%, #EBB94D 0);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.thirdSection-seventhParagraph-eighthParagraph-responsive span{
  display: none;
}

.thirdSection-ninthParagraph{
  position: relative;
  z-index: 9;
  background-color: #EBB94D;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 95px;
}

.thirdSection-ninthParagraph p{
  padding: 1px 0px 0px 0px;
  font-size: 14px;
  line-height: 80px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}


.fourthSection{
  background-color: #FEF5E0;
  width: 100%;
  height: 566px;
  padding: 80px 0px 0px 0px;
}

.fourthSection-firstParagraph{
  width: 860px;
  margin: 0px auto;
  padding: 35px 0px 25px 0px;
  position: relative;
}

.fourthSection-firstParagraph p{
  padding: 0px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 28px;
  line-height: 40px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.06em;
}

.fourthSection-firstParagraph ::before{
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  border-left: solid 4px #EBB94D;
  border-top: solid 4px #EBB94D;
  width: 45px;
  height: 45px;
}

.fourthSection-firstParagraph ::after{
  position: absolute;
  content: '';
  right: 0px;
  bottom: 0px;
  border-right: solid 4px #EBB94D;
  border-bottom: solid 4px #EBB94D;
  width: 45px;
  height: 45px;
}

.fourthSection-secondParagraph p{
  padding: 40px 3px 30px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.07em;
}

.fourthSection-secondParagraph-responsive p{
  display: none;
}

.fourthSection-inner{
  position: relative;
  background-color: #FFFFFF;
  width: 1166px;
  height: 251px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #EBB94D;
}

.fourthSection-thirdParagraph p{
  padding: 32px 7px 10px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.fourthSection-thirdParagraph-responsive p{
  display: none;
}

.fourthSection-firstBox{
  display: inline-block;
  padding: 10px 11px 10px 10px;
}

.fourthSection-secondBox{
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.fourthSection-thirdBox{
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.fourthSection-fourthBox{
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.fourthSection-fifthBox{
  display: inline-block;
  padding: 10px 11px 10px 10px;
}

.fourthSection-firstBox p{
  padding: 2px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 12px;
  line-height: 19px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-secondBox p{
  padding: 2px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 12px;
  line-height: 19px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-thirdBox p{
  padding: 2px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 12px;
  line-height: 19px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-fourthBox p{
  padding: 2px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 12px;
  line-height: 19px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.13em;
}

.fourthSection-fifthBox p{
  padding: 2px 0px 0px 0px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 12px;
  line-height: 19px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.13em;
}
