/* pc用 */


/* ページの余白を調整する */
*{
  margin: 0;
  padding: 0;
}

.wrapper{
  width: 100%;
}

.content{
  width: 100%;
  padding: 75px 0px 0px 0px;
}



/* ヘッダー */
.header{
  position: fixed;
  z-index: 10;
  background-color:#FFFFFF;
  width: 100%;
  height: 75px;
}

.headerInner{
  display: flex;
  width: 1190px;
  margin: auto;
}

.headerLogo img{
  width: 128px;
  height: 45px;
  padding: 14px 0px 0px 11px;
}

.headerTitle p{
  padding: 34px 0px 0px 6px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  letter-spacing: 0.11em;
}

.headerLogo-headerTitle-responsive p{
  display: none;
}

.headerLogo-headerTitle-responsive img{
  display: none;
}

.headerContact{
  margin-left: auto;
  margin-right: 10px;
  padding: 26px 0px 0px 0px;
}

.headerContact a{
  background-color: #DA6B64;
  border-radius: 30px;
  padding: 15px 38px 15px 39px;
  font-style: normal;
  font-weight: 300;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.11em;
}

.headerContact a:hover{
  background-color: #d84940;
}

.headerContact-responsive{
  display: none;
}

.headerContact-responsive img{
  display: none;
}

.headerContact-responsive a{
  display: none;
}


/* メインコンテンツ */
.firstSection{
  background-image: url("../image/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.firstSection-firstParagraph p{
  padding: 93px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 28px;
  line-height: 45px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.05em;
}

.firstSection-secondParagraph p{
  padding: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 28px;
  line-height: 45px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.05em;
}

.firstSection-img img{
  display: block;
  width: 319px;
  height: 110px;
  margin: auto;
  padding: 10px 0px 0px 1px;
}

.firstSection-thirdParagraph p{
  padding: 41px 0px 0px 0px;
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}

.firstSection-fourthParagraph p{
  font-style: normal;
  font-weight: 600;
  font-family: "Hiragino Kaku Gothic Pro";
  font-size: 20px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  letter-spacing: 0.08em;
}
